body {
    background: #F9F7F2;
    margin: 0px;
}

/* NAV BAR */

nav {
    background-color: #e33b11;
    text-align: right;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; /* this makes sure that the elements don't go above the nav bar */
}

nav ul{
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
 
nav > ul > li > a {
    color:white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    line-height: 2em;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
}

/* MAIN.HTML */

.header{
    background-color: #EB4F27;
    padding-top: 150px;
    padding-left: 110px;
    padding-bottom: 80px;
}

h1{ /* What's in your fridge? */
    font-family: 'Cinzel', serif;
    font-weight: 400;
    font-size: 80px;
    color: white;
    display: block;
    margin-bottom: 10px;
}

p{ /* Click on a card to select ... */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    color: white;
    margin-top: 0px;
}

/************************************************************/

.container{
    padding-left: 110px;
    padding-bottom: 80px;
}

h3{
    font-family: 'Cinzel', serif;
    font-weight: 400;
    font-size: 40px;
    color: #2D2D2D;
    display: block;
}

.ingredients{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /* justify-content: center; */
    gap: 40px;
}

.item{
    background: #F9F7F2;
    font-size: 2em;
    font-weight: bold;
    width: 210px;
    border: 1px solid #465C38;
    border-radius: 10px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    margin: 0px;
    padding: 0px;
}

.plus{
    background: #E7E7DF;
    font-size: 2em;
    font-weight: bold;
    width: 210px;
    border: none;
    border-radius: 10px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plusSign{
    max-width: 80px;
    margin-bottom: auto;
    margin-top: auto;
}

/* Illustrations of the ingredients */

img {
    display: flex;
    flex-direction: column;
    max-width: 130px;
    height: auto;
    margin-top: auto;
}

.biggerImg {
    max-width: 120px;
    max-height: 160px;
}

.ingredientsName{
    display: flex;
    flex-direction: column;
    background-color:#465C38;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    width: 210px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0px 0px 8px 8px;
    margin-top: auto;
    text-align: center;
}

.card{
    background: #F9F7F2;
    font-size: 2em;
    font-weight: bold;
    width: 210px;
    border: 1px solid #465C38;
    border-radius: 10px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card:hover{
    transform: scale(1.02)
} 

.card:active{
    transform: scale(.97)
}

input[type="checkbox"]{
    accent-color: #465C38;
    mix-blend-mode: multiply;
    display: grid;
    border-radius: .5rem;
    width: 2rem;
    height: 2rem;
    border:1px solid #465C38;
    margin-left: 150px;
    margin-top: 15px;
}

#print-btn {
  background-color: #E7451C;
  border-radius: 10px;
  border-style: none;
  color: #FFFFFF;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  height: 40px;
  margin-top: 100px;
  margin-bottom: 40px;
  padding: 24px 40px 24px 40px;
  /* position: relative; */
  text-align: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

#print-btn:hover{
  background-color: #d4360e;
} 

.selectedItem{
    display: flex;
    flex-direction: row;
    color: #E7451C;
    border-radius: .5rem;
}

.plus:hover{
    transform: scale(1.02)
} 

.plus:active{
    transform: scale(.97)
}
