html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}

body {
    background: #F9F7F2;
    margin: 0px;
}

/***************** START NAV BAR *****************/

nav {
    background-color: #e33b11;
    text-align: right;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; /* this makes sure that the elements don't go above the nav bar */
}

nav ul{
    margin: 0;
    padding: 0;
    margin-right: 80px;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
 
nav > ul > li > a {
    color:white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    line-height: 2em;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
}

/***************** END NAV BAR *****************/

/***************** START HEADER *****************/

.header{
    background-color: #EB4F27;
    padding-top: 150px;
    padding-left: 110px;
    padding-bottom: 50px;
}

h1{ /* What's in your fridge? */
    font-family: 'Cinzel', serif;
    font-weight: 400;
    font-size: 80px;
    color: white;
    display: block;
    margin-bottom: 10px;
}

p{ /* Click on a card to select ... */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    color: white;
    margin-top: 0px;
    margin-bottom: 60px;
}

/* SEARCH BOX */

.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
    width: 400px;
}

.search-control,
.search-btn{
    width: 100%;
}

.search-control{
    padding: 0 1rem;
    padding-left: 40px;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border:#FFFFFF;
}

.search-control::placeholder{
    color:#465C38;
    font-family: 'Montserrat', sans-serif;
}

.search-btn{
    color: white;
    border: none;
    background-color: #465C38;
    width: 75px;
    height: 55px;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.search-btn:hover{
    background:#d4360e;
}

input[type=text]{
    font-family: 'Montserrat', sans-serif;
    color: #465C38;
}

/***************** END HEADER *****************/

/****************** START ILLUSTRATIONS OF THE INGREDIENTS *******************/

.container{
    padding-left: 110px;
    padding-bottom: 80px;
}

h3{
    font-family: 'Cinzel', serif;
    font-weight: 400;
    font-size: 40px;
    color: #2D2D2D;
    display: block;
}

.ingredients{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 40px;
}

.item{
    background: #F9F7F2;
    font-size: 2em;
    font-weight: bold;
    width: 210px;
    border: 1px solid #465C38;
    border-radius: 10px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    margin: 0px;
    padding: 0px;
}

img {
    display: flex;
    flex-direction: column;
    max-width: 130px;
    height: auto;
    margin-top: auto;
}

.biggerImg {
    max-width: 120px;
    max-height: 160px;
}

.ingredientsName{
    display: flex;
    flex-direction: column;
    background-color:#465C38;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    width: 210px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0px 0px 8px 8px;
    margin-top: auto;
    text-align: center;
}

.card{
    background: #F9F7F2;
    font-size: 2em;
    font-weight: bold;
    width: 210px;
    border: 1px solid #465C38;
    border-radius: 10px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card:hover{
    transform: scale(1.02)
} 

.card:active{
    transform: scale(.97)
}

input[type="checkbox"]{
    accent-color: #465C38;
    display: grid;
    border-radius: .5rem;
    border:1px solid #465C38;
    margin-left: 150px;
    margin-top: 15px;
    position: relative;
    opacity: 0;
}

label{
    position: absolute;
    width: 210px;
    height: 270px;
    top: 0;
    left: 0;
}

.selectedItem{
    display: flex;
    flex-direction: row;
    color: #E7451C;
    border-radius: .5rem;
}

/****************** END ILLUSTRATIONS OF THE INGREDIENTS *******************/

/****************** START SEARCH RESULTS *******************/

#recipe-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.search-title{
    display: block;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    font-size: 40px;
    color: #2D2D2D;
    margin-right: 800px;
}

#meal{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
    margin-left: 110px;
} 

.meal-result{ /* change variable name*/
    display: flex;
}

/* the entire card */
.recipe-item{
    background: #F9F7F2;
    font-size: 2em;
    font-weight: bold;
    width: 270px;
    border: 1px solid #465C38;
    border-radius: 10px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.recipe-item:hover{
    transform: scale(1.02)
} 

.recipe-item:active{ 
    transform: scale(.97)
} 

.recipe-title{
    display: flex;
    flex-direction: column;
}

.recipe-name{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
    line-height: 1.5rem;
}

.recipe-img{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 150px;
}

.recipe-img img{
    border-radius: 1rem;
}

.recipe-btn{
    display: block;
    background-color: #465C38;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    width: 140px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 2rem;
    text-align: center;
    text-decoration: none;
    margin: 1rem auto;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.recipe-btn:hover{
    background-color: #e33b11;
}

.meal-details{
    position: fixed;
    max-width: 1000px;
    max-height: 600px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #fff;
    border-radius: 1rem;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
    padding-left: 110px;
    padding-right: 110px;
}

.recipe-name-title{
    font-family: 'Cinzel', serif;
    color:#465C38;
    font-weight: 400;
    font-size: 36px;
    margin-top: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.recipe-category{
    background: #e33b11;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding: 5px 10px 5px 10px;
    border-radius: 0.3rem;
}

.instructions{
    color:#465C38;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color:#465C38;
    margin-bottom: 20px;
}

.recipe-details-img img{
    max-width: 400px;
    max-height: 400px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instruction-details{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color:#465C38;
}

/* Link to Video */
.recipe-link a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    display: block;
    background-color: #465C38;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    width: 140px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 2rem;
    text-align: center;
    text-decoration: none;
    margin: 1rem auto;
}

.recipe-link a:hover{
    background-color: #e33b11;
}

.close-btn{
    margin-left: 800px;
    color:#465C38;
    background-color: white;
    top: 2rem;
    font-size: 30px;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.close-btn:hover{
    color: #e33b11;
}

.notFound{
    grid-template-columns: 1fr!important;
    color: #e33b11;
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.showRecipe{
    display: block;
}

/****************** END SEARCH RESULTS *******************/

/****************** START ABOUT PAGE *******************/

.about_container{
  display: flex;
  flex-flow: row wrap;
  margin-left: 110px;
  margin-top: 100px;
}

.about_item{
  background: #D4A981;
  font-size: 2em;
  font-weight: bold;
  width: 300px;
  border-radius: 10px;
  margin: 2px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_item:nth-child(1){
    display: flex; 
    margin-right: 20px;
}

.about_item:nth-child(2){ 
    background: #293E17;
    flex-grow: 4;
    margin-right: 110px;
}

.about_item:nth-child(3){ 
    background: lightblue;
    width: 800px;
    flex-grow: 4;
    height: 350px;
    background: #F9F7F2;
    border: 1px solid #465C38;
    margin-top: 20px;
    gap: 50px;
    align-items: flex-start;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.about_item:nth-child(4){ 
    background: #E7451C;
    margin-left: 20px;
    margin-right: 110px;
    height: 350px;
    margin-top: 20px;
}

.about_img{
    width: 600px;
}

img.about_profile{
    width: 200px;
    height: 200px;
}

.about_item img{
    display: flex;
    flex-direction: column;
    max-width: 270px;
    margin-top: 0px;
}

.about_item h3{
    color: white;
    text-align: left;
    margin-bottom: 10px;
}

.about_item .dark{
    color: #2D2D2D;
    font-size: 30px;
    font-family: 'Cinzel', serif;
    font-weight: 400;
}

.about_item .brief_intro{
    margin: 20px 60px 20px 60px;
    display: flex;
    flex-direction: column;
}

.brief_intro p{
    font-size: 18px;
    line-height: 35px;
    margin-top: 20px;
}

.brief_intro_header{
    display: flex;
    flex-direction: row;
}

.fa.fa-envelope{
    font-size: 32px;
    color:#465C38;
    display: inline;
}

.fa.fa-envelope:hover{
    color: #e33b11;
}

.fa.fa-linkedin-square{
    font-size: 32px;
    color:#465C38;
    display: inline;
    margin-left: 20px;
}

.fa.fa-linkedin-square:hover{
    color: #e33b11;
}


/* DOCUMENTS */
.documents{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.documents ul{
    margin: 0;
    padding: 0;
    margin-right: 60px;
}

.documents ul li {
    display: block;
}
 
.documents > ul > li > a {
    color:#465C38;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    line-height: 20px;
}

/* CREDITS */
.credits{
    display: flex;
    flex-direction: column;
}

.credits ul{
    margin: 0;
    padding: 0;
    margin-right: 80px;
}

.credits ul li {
    display: block;
}
 
.credits > ul > li > a {
    color:#465C38;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    line-height: 20px;
}

/****************** END ABOUT PAGE *******************/

/****************** START HO PAGE *******************/

.home_img{
    margin-top: 300px;
    max-width: 500px;
}

img.home_img{
    max-width: 500px;
}

/****************** END HO PAGE *******************/

/****************** START MEDIA QUERY *******************/

@media screen and (max-width: 1100px){
    .header{
        background-color: #EB4F27;
        padding-top: 150px;
        padding-left: 110px;
        padding-bottom: 30px;
    }

    h1{ /* What's in your fridge? */
        font-family: 'Cinzel', serif;
        font-weight: 400;
        font-size: 60px;
        color: white;
        display: block;
        margin-bottom: 10px;
    }

    p{ /* Click on a card to select ... */
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 20px;
        line-height: 40px;
        color: white;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .card{
        background: #F9F7F2;
        font-size: 2em;
        font-weight: bold;
        width: 180px;
        border: 1px solid #465C38;
        border-radius: 10px;
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ingredientsName{
        display: flex;
        flex-direction: column;
        background-color:#465C38;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 16px;
        width: 180px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 0px 0px 8px 8px;
        margin-top: auto;
        text-align: center;
    }

}

@media screen and (max-width: 850px){
    .header{
        background-color: #EB4F27;
        padding-top: 120px;
        padding-left: 60px;
        padding-bottom: 30px;
    }

    h1{ /* What's in your fridge? */
        font-family: 'Cinzel', serif;
        font-weight: 400;
        font-size: 50px;
        color: white;
        display: block;
        margin-bottom: 10px;
    }

    p{ /* Click on a card to select ... */
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 40px;
        color: white;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .card{
        background: #F9F7F2;
        font-size: 2em;
        font-weight: bold;
        width: 180px;
        border: 1px solid #465C38;
        border-radius: 10px;
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ingredientsName{
        display: flex;
        flex-direction: column;
        background-color:#465C38;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 16px;
        width: 180px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 0px 0px 8px 8px;
        margin-top: auto;
        text-align: center;
    }

    .container{
        padding-left: 60px;
        padding-bottom: 80px;
    }

}

@media screen and (max-width: 660px){
    .header{
        background-color: #EB4F27;
        padding-top: 120px;
        padding-left: 60px;
        padding-bottom: 30px;
    }

    h1{ /* What's in your fridge? */
        font-family: 'Cinzel', serif;
        font-weight: 400;
        font-size: 40px;
        color: white;
        display: block;
        margin-bottom: 5px;
    }

    p{ /* Click on a card to select ... */
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        color: white;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .card{
        background: #F9F7F2;
        font-size: 2em;
        font-weight: bold;
        width: 180px;
        border: 1px solid #465C38;
        border-radius: 10px;
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ingredientsName{
        display: flex;
        flex-direction: column;
        background-color:#465C38;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 16px;
        width: 180px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 0px 0px 8px 8px;
        margin-top: auto;
        text-align: center;
    }

    .container{
        padding-left: 60px;
        padding-bottom: 80px;
    }

}

@media screen and (max-width: 1250px){
    .about_item h3{
        color: white;
        text-align: left;
        margin-bottom: 10px;
        font-size: 30px;
    }
    
    .about_item .dark{
        color: #2D2D2D;
        font-size: 24px;
        font-family: 'Cinzel', serif;
        font-weight: 400;
    }
    
    .about_item .brief_intro{
        margin: 20px 60px 20px 60px;
        display: flex;
        flex-direction: column;
    }
    
    .brief_intro p{
        font-size: 16px;
        line-height: 30px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1030px){
    .about_item h3{
        color: white;
        text-align: left;
        margin-bottom: 5px;
        font-size: 24px;
    }
    
    .about_item .dark{
        color: #2D2D2D;
        font-family: 'Cinzel', serif;
        font-weight: 400;
    }
    
    .about_item .brief_intro{
        margin: 20px 60px 20px 60px;
        display: flex;
        flex-direction: column;
    }
    
    .brief_intro p{
        font-size: 14px;
        line-height: 30px;
        margin-top: 20px;
    }
}